@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&display=swap');

:root {
	--white: #d9d9d9;
	--slightly-whiter: #e9e9e9;
	--img-margin: 2.5vw;
  --color-one: #2e2cb1;
  --color-two: #f347b1;
  --bg-size: 400%;
}

.content.neumorphism img:hover {
	transform: scale(1.05) rotate(1deg);
}

.content.neumorphism img {
	transition: transform .3s;
}

.content.bio .bio-content p {
	font-size: 2.5vw;
}

body {
	background: var(--white);
	font-family: "basic-sans", "Onest", sans-serif;
	margin: 0;
	color: black;
	font-size: 3vw;
  	font-weight: 300;
	text-align: center;
}

h1, h2, h3 {
	font-family: "Onest", sans-serif;
}

h1 {
	font-size: 15vw;
  	font-weight: 600;
}

h2 {
	margin: 1vh 0;
	font-size: 6vw;
  font-weight: 500;
}

.bp-gradient, .bp-gradient a {
	color: var(--color-one);
	
	-o-transition: color 1s ease, background-position 1s ease;
	-webkit-transition: color 1s ease, background-position 1s ease;
	transition: color 1s ease, background-position 1s ease;
}

.bp-gradient:hover, .bp-gradient a:hover {
	color: var(--color-two);
}

/* "Force" compatibility */
@supports ((-ms-background-clip: text) or (-webkit-background-clip: text) or (-moz-background-clip: text) or (background-clip: text)) {
	.bp-gradient, .bp-gradient a {
		background: var(--color-one);
		background: linear-gradient(
			90deg,
			var(--color-one),
			var(--color-two)
		) 0 0 / var(--bg-size) 100%;

		-ms-background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;

		background-position: var(--bg-size) 0;
		color: transparent !important;
	}
	
	.bp-gradient:hover, .bp-gradient a:hover {
		color: transparent !important;
		background-position: 300% 0;
	}
}

a {
	text-decoration: none;
	color: #3835d3;
  font-weight: 400;
	-o-transition: color .5s;
	-webkit-transition: color .5s;
	transition: color .5s;
}

a:hover {
	color: var(--color-one) !important;
}

#things {
	aspect-ratio: auto 683 / 353;
}

#collector {
	aspect-ratio: auto 624 / 796;
}

#launcher {
	aspect-ratio: auto 683 / 384;
}

img {
	max-width: calc(100% - calc(var(--img-margin) * 2));
	max-height: 50vh;
	border-radius: 2.5px;
	margin: 0 var(--img-margin);
	margin-bottom: var(--img-margin);
}

.bio {
	margin-top: 6vh;
	position: relative;
	width: 97.5vw;
	min-height: 90vh;
	left: 50%;
	padding-bottom: 3vh;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.neumorphism {
	background: #e0e0e0;
	border-radius: 16px;

	-webkit-box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
	box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
}

.content {
	margin-bottom: 8vh;
	padding: .05vh 0;
	position: relative;
	width: 94vw;
	min-height: auto;
	left: 50%;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

footer {
	font-size: 1.5vw;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  transform: scale(0.8);
}

.social-btns .btn.youtube:before {
  background-color: #FF0000;
}
.social-btns .btn.youtube .fa {
  color: #FF0000;
}

.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}

.social-btns .btn.twitch:before {
  background-color: #6441a5 ;
}
.social-btns .btn.twitch .fa {
  color: #6441a5;
}

.social-btns .btn.instagram:before {
    background-color: #d6249f;
}
.social-btns .btn.instagram .fa {
    color: #d6249f;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}

.social-btns {
  height: 14vh;
}

.social-btns .btn {
  display: inline-block;
  background-color: var(--slightly-whiter);
  width: 14vh;
  height: 14vh;
  margin: 0 2vw;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}

.social-btns .btn .fa {
    margin-top: 1.55vh;
    font-size: 11vh;
}

@media screen and (min-width: 601px) {
	h1 {
		margin-top: 15vh;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 19vw;
	}

	h2 {
		font-size: 18vw;
	}

	.bio {
		font-size: 15vw;
	}

	body {
		font-size: 8vw;
	}
		
	footer {
		font-size: 4vw;
	}
	
	.social-btns .btn {
        width: 18vw;
        height: 18vw;
        margin: 0 .2vw;
    }

    .social-btns .btn .fa {
        margin-top: 1vh;
        font-size: 15vw;
    }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #8f54a0 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 0px;
    border: 0px;
  }