@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Quicksand", sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
    background-color: #111119;
    background-image: linear-gradient(to bottom, #202020, #111119);
}

.main-div {
    z-index: 99;

    color:aliceblue;
    background-color: #202020;
    background-image: linear-gradient(to bottom, rgb(30, 30, 30), rgb(33, 33, 33));
    opacity: 0.8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 55%;
    height: 40%;
    padding: 1.5% 2.5%;

    border: 1px solid #ffffff22;
    background-color: #282c34;
    box-shadow: none;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    transition: box-shadow 0.4s cubic-bezier(0.32, 0.63, 0.26, 0.93);
}

.main-div:hover {
    box-shadow: 0 7px 20px 5px #00000088;
}

h1 {
    font-size: 6vw;
    font-weight: 600;
}

p {
    font-size: 2.5vw;
    font-weight: 200;
}

.icons {
    padding: 1.5% 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
}

.icons img {
    padding-right: 1vw;

    height: 6vh;
    width: auto;
    
    object-fit: cover;
    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

    transition: filter 0.6s, transform 0.45s;
}

.icons img:hover {
    transform: scale(1.1);
    filter: none;
}

.trigger-jojo {
    padding: .5%;
    cursor: pointer;
    z-index: 101;
    
    background-color: transparent;
    color: aliceblue;

    border: none;
    border-radius: 5px 0 0 0;

    position: absolute;
    bottom: 0;
    right: 0;

    transition: background-color 0.5s;
}

.trigger-jojo:hover {
    background-color: #202020;
}

.filter {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: -1;
    position: relative;
    opacity: 0.4;
}

.big-index {
    z-index: 100;
}

.jojo-1 {
    background: rgb(255,0,0);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 100%);
}

.jojo-2 {
    background: rgb(85,0,255);
    background: linear-gradient(45deg, rgba(85,0,255,1) 0%, rgba(63,251,160,1) 100%);
}

.jojo-3 {
    background: rgb(168,133,72);
    background: linear-gradient(45deg, rgba(168,133,72,1) 0%, rgba(17,182,255,1) 100%);
}

.jojo-4 {
    background: rgb(85,24,72);
    background: linear-gradient(45deg, rgba(85,24,72) 0%, rgba(170,12,205) 100%);
}

.jojo-5 {
    background: rgb(78,133,72);
    background: linear-gradient(45deg, rgba(78,133,72) 0%, rgba(27,62,80,1) 100%);
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 350%;
        text-align: center;
    }

    p {
        font-size: 150%;
        text-align: center;
    }

    .icons img {
        height: 9vw;
    }
}